@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans:wght@700&family=Open+Sans:wght@300&family=Red+Hat+Display:wght@500&display=swap");

.navb {
  background-color: #402e32;
  max-width: 98vw;
  margin-left: 1vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo {
  font-family: "Montserrat";
  color: #f3f3cc;
}

.logo2 {
  font-family: "Montserrat";
  font-size: 1rem;
  color: #f3f3cc;
  padding: 0 10px 0 10px;
}

@media only screen and (max-width: 600px) {
  .navb {
    max-width: 100vw;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
